@import url(default.css);

/* header */

header {
    margin: 24px 100px;
}

.wrapper-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-weight: 700;
    color: #5DBD6D;
}

.nav-header li{
    list-style-type: none;
}

li:not(:last-child) {
    margin-right: 45px;
}

.nav-header ul{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.nav-btn {
    border: 0;
    background-color: #E6F9E6;
    color: #5DBD6D;
    padding: 9px 25px;
    border-radius: 50px;
    font-weight: 500;
}


/* intro */

.intro {
    margin: 60px 0;
}

.wrapper-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-header {
    font-size: 43px;
    font-weight: 800;
    line-height: 129%;
}

.intro-text {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    margin: 22px 0 53px 0;
}

.btn {
    border: 0;
    background-color: #fd576c;
    border-radius: 50px;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.intro-block-1 {
    width: 30%;
}

/* problems section */

.problems {
    margin: 115px 0;
}

.problems-main-text {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 50px;
}

.problems-grid {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    gap: 50px;
}

.problems-block {
    padding: 20px 40px 30px 20px;
}

.problems-header {
    font-size: 16px;
    font-weight: 600;
    color: #151519;
    margin: 10px 0;
}

.problems-text {
    font-size: 16px;
    font-weight: 400;
    color: #151519;
}

.icon {
    width: 50px;
    height: 50px;
}

/* best result section */

.best-result {
    margin: 150px;
}

.best-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-block {
    margin-left: 100px;
}

.best-header {
    font-weight: 800;
    font-size: 30px;
    color: #151519;
}

.best-description {
    font-weight: 600;
    font-size: 16px;
    color: #151519;
    margin: 15px 0;
}

.best-text {
    font-size: 16px;
    font-weight: 400;
    color: #151519;
    margin-bottom: 50px;
}

/* how it work section */

.howitwork {
    margin: 250px 0;
}

.how-header {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 100px;
}

.how-wrapper {
    display: flex;
    justify-content: space-between;
}

.how-block {
    width: 33%;
}

.icon-block {
    width: 100px;
    height: 100px;
    align-items: center;
}

.icon-block {
    margin-bottom: 25px;
}

.how-block-header {
    font-size: 16px;
    font-weight: 600;
    color: #151519;
    line-height: 23px;
}

.how-block:not(:last-child) {
    margin-right: 30px;
}

.how-list {
    padding: 20px 30px 0 20px;
}

.how-list li{
    font-size: 16px;
    font-weight: 400;
    color: #FD576C;
}

.how-list li span {
    color: #151519;
}

.how-list li:not(:last-child) {
    margin-bottom: 15px;
}

/* nutrion section */

.nutrition {
    margin: 100px 0;
}

.nutrion-main-header {
    font-size: 30px;
    font-weight: 800;
    color: #151519;
    margin-bottom: 50px;
}

.nutrion-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nutrion-block-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.nutrion-header {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: #151519;
}

.nutrion-text {
    font-size: 16px;
    font-weight: 400;
    color: #151519;
}

.nutrion-block-into:nth-child(1),
.nutrion-block-into:nth-child(3) {
    margin-right: 30px;
}

.nutrion-block-into:nth-child(1),
.nutrion-block-into:nth-child(2) {
    margin-bottom: 30px;
}

